<%- include("../partials/admin_auth/header.ejs") %>

  <div class="container">

        <%if(resturl==""){%>
            <form action="/" method="post">
        <%}else{%>
    <form action="/admin/forgotpassword/<%=resturl.id%>/<%=resturl.uid%>" method="post">
        <%}%>
      <h1 style="font-size: 2rem;">
        Reset password
      </h1>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8"
          name="password1" oninvalid="this.setCustomValidity('Please make sure length of password is grater than 8 characters')"
          oninput="this.setCustomValidity('')" autocomplete="off" required>
        <label for="floatingPassword">Enter New Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8"
          name="password2" oninvalid="this.setCustomValidity('Please make sure length of password is grater than 8 characters')"
          oninput="this.setCustomValidity('')" autocomplete="off" required>
        <label for="floatingPassword">Enter New Password</label>
      </div>
      <% if(Msg){ %>
        <p style="color:red; padding:0% 1%; text-transform:capitalize; margin:0%">
          <%=Msg%>
        </p>
        <%}%>


          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success" style="font-size: 21px;">Reset Password</button>
          </div>

    </form>

  </div>

  <%- include("../partials/admin_auth/footer.ejs") %>