<div id="interpersonalSkills">

    <ul id="innav">
        <button type="button" class="btn btn-primary" onclick="freset()"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add New
        </button>
    </ul>
    <div id="inbox">
   

   
        <% gOSdata.forEach( value=>{ %>
            <div class="card" style="width: 18rem; box-shadow: 0px 0px 9px 4px #dad1d133;">
              <img src="http://res.cloudinary.com/dcb6xqdug/image/upload/v1712983860/<%=value.imageurl%>" style="height: 45%;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="text-transform:capitalize"><b><%=value.title%></b></p>
                <br>
                <p style="text-transform:capitalize;"><b>Visibility : <%=value.visibility==true?'public':'private'%></b></p>
              </div>
              <button type="button" class="btn btn-primary" onclick="editcardos(`<%=value._id%>`, `<%=value.imageurl%>`, `<%=value.title%>`,`<%=value.message%>`, `<%=value.visibility%>`, `<%=value.url1%>`, `<%=value.url2%>`, `<%=value.url3%>`, `<%=value.url4%>`)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
            </button>
              <button type="button" class="btn btn-outline-danger"><a href="/admin/panel/settings/othersettings/<%=value._id%>" style="text-decoration: none; text-transform:capitalize; color:rgb(0, 0, 0);">delete</a></button>
            </div>
        <%})%>

       
          
            <script>
                let editcardos = (id, imgurl, title,message, vi, url1, url2, url3, url4) =>{
                    let model = document.getElementById("addinterpersonalSkills");
                    model.setAttribute("action", `/admin/panel/settings/othersettings/${id}`);
                    document.getElementById("exampleModalLabel").innerText = "Edit";

                    console.log(url1);
                    console.log(url2);
                    console.log(url3);
                    console.log(url4);

                    document.getElementById("imgName").value = imgurl;
                    document.getElementById("floatingTextarea2").value = message;
                    document.getElementById("title").value = title;
                    document.getElementById("url1").value = url1;
                    document.getElementById("url2").value = url2;
                    document.getElementById("url3").value = url3;
                    document.getElementById("url4").value = url4;
                    document.getElementById("visibility").value = vi=='true'?'1':'0';
                  }
            </script>
         

    </div>


     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="height: 175vh;">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/panel/settings/othersettings" method="POST" id="addinterpersonalSkills">
            <div class="modal-body">
             
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-primary" id="ImageUploader" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Image Uploader</button>
                    
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="imgName" name="imageurl" placeholder="name@example.com" readonly="readonly">
                    <label for="floatingInput">Cover Image Name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="name@example.com"  required>
                    <label for="floatingInput">Title</label>
                  </div>
                 

                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="message" style="height: 13rem; resize:none;" ></textarea>
                    <label for="floatingTextarea2">message</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="url1" name="url1" placeholder="name@example.com"  >
                    <label for="floatingInput">OP 1</label>
                  </div>
                 

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="url2" name="url2" placeholder="name@example.com"  >
                    <label for="floatingInput">OP 2</label>
                  </div>

                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="url3" name="url3" placeholder="name@example.com"  >
                    <label for="floatingInput">OP 3</label>
                  </div>


                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="url4" name="url4" placeholder="name@example.com"  >
                    <label for="floatingInput">OP 4</label>
                  </div>
                 

                  <select class="form-select" aria-label="Default select example" name="visibility" required id="visibility">
                    <option value = "1" selected>Public</option>
                    <option value="0">Private</option>
                  </select>

                

                
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      

</div>